/* Responsivo para desktop hd & Full hd ultrawide */
@media (max-width: 1599px ) {
    main {
        margin-left:130px;
               
    }
}

@media (min-width: 1600px ) {
    main {
        margin-left:200px;
        margin-top: 140PX;
    }
}

/* Responsivo mobile */

@media (max-width: 725px) {

    body {
        margin: 0;
        padding: 0px;
        background: linear-gradient(45deg, #f0c419, #ea8d00);
    }

    #logo {
        margin-left: 20px;
    }

    #github {
        margin-right: 20px;
    }

    .menu {
        display: flex;
        align-items: center;
        padding-right: 0px;
        height: 100%;
        gap: 10px;
    }

    .lista {
        display: none;
    }
    
    main {
        margin: auto;
        margin-bottom: 2rem;
        width: 300px;
        padding: 20px 0px 0px;
        border-radius: 60px 10px 60px 10px;
    }

    .container-titulo {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #titulo-programa {
        font-size: 30px;
        padding: 0px;
    }

    #icone-moeda {
        width: 70px;
        padding-bottom: 20px;
    }

    .valores {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .digiteValor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    #chamada {
        font-size: 24px;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    input {
        width: 180px;

    }

    .moedas {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}