* {
  margin: 0;
}

body {
  
  font-family: 'poppins', arial;
  background-image: url("https://github.com/robertojunnior/imersao-aluradev/blob/main/imagens/background-conversor-roberjunnior.png?raw=true");

  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center right;  
  background-attachment: scroll;
  
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: aqua; */
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#logo {
 width: 100px;
 margin: 20px 100px;
}


  
main {
  background-color: #2f2f2f;
  border-radius: 80px 10px 80px 10px;
  /* border-radius: 40px; */
  width: 530px;
  padding: 20px;
  display: flex;
  align-items: center; 
  flex-direction: column;
  box-shadow: 5px 10px 10px rgba(73, 50, 20, 0.2);
}

#titulo-programa {
  color: #ffffff;
  /* font-size: 48px; */
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  padding: 30px 30px;  
}

#saco-moeda {
  height: 90px;
  width: 90px;
}

#saco-moeda:hover {
  transform: scale(1.1);
  transition: 1.5s ease;
}

.container-titulo {
  width: 530px;
  display: flex;
  align-items: center;
  gap: 50px;
}
  
.container-valor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  padding-bottom: 30px;
}


.digite-valor-para h1 {
  color: #ffffff;
  gap: 10px;
}

label {
  color: #E8A824;
}

input {
  padding: 20px;
  border-radius: 10px 5px;
  /* border-radius: 10px; */
  margin: 5px 0px 10px;
  text-align: left;
}

button {
  background-color: #E8A824;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px 5px;
  /* border-radius: 10px; */
  margin-top: 5px;
}


button:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
}




/* .logo img {
  width: 150px;
  margin-left: 100px;

} */
  
