* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #2f2f2f;
}

body {
  
  font-family: 'poppins', arial;
  background-image: url(./imagens/background-conversor-roberjunnior2.png);

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;  
  
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#logo {
 width: 100px;
 margin: 20px 100px;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 80px;
  height: 100%;
  gap: 10px;
}

.menu li img {
  width: 40px;
}

main {
  background-color: #2f2f2f;
  border-radius: 80px 10px 80px 10px;
  /* border-radius: 40px; */
  width: 600px;
  padding: 20px;
  display: flex;
  align-items: center; 
  flex-direction: column;
  box-shadow: 5px 10px 10px rgba(73, 50, 20, 0.2);
}

#titulo-programa {
  color: #ffffff;
  /* font-size: 48px; */
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  padding: 30px 30px;  
}

#saco-moeda {
  height: 90px;
  width: 90px;
}

#saco-moeda:hover {
  transform: scale(1.1);
  transition: 1.5s ease;
}

.container-titulo {
  width: 530px;
  display: flex;
  align-items: center;
  gap: 50px;
}
  
.container-valor {
  display: flex;
  align-items: center;
  width: 480px;
  padding-bottom: 30px;
}

.digite-valor-para h1 {
  color: #ffffff;
  line-height: 2.5rem;
}

.digite-valor-para button {
  background-color: #E8A824;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 10px 3px;
  margin-top: 25px;

  
}

button:hover {
  transform: scale(1.1);
  transition: 1.5s ease;
}

.valores {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
 }

label {
  color: #E8A824;
}

input {
  padding: 20px;
  width: 220px;
  border-radius: 10px 5px;
  margin: 5px 0px 10px;
  text-align: left;
}

.selecao-moedas {
  /* background-color: aqua; */
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

#moedas {
  background-color: #ffffff;
  width: 60px;
}