* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #2f2f2f;
  font-family: 'poppins', arial;
  box-sizing: border-box;
  
}
 
body {
  background-image: url(../imagens/background-conversor-roberjunnior2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 01% 10%;
}

.logo #logo{
 width: 20%;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav img {
  width: 30px;
}

main {
  padding: 0 10% 0;
}

.container-principal {
  display: flex;
  align-items: center;
  max-width: 50%;
  padding: 1.5rem 3rem 2.5rem 1.5rem;
  gap: 2rem;
  background-color: #2f2f2f;
  border-radius: 3.75rem 0.625rem 3.75rem 0.625rem;
  box-shadow: 5px 10px 10px rgba(73, 50, 20, 0.2);
}

/* -------------------------------container left */
.container-titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
  text-align: center;
}

#titulo-programa {
  color: #ffffff;
  line-height: 2.5rem;
  font-weight: 800;
  font-size: 2.5rem;
}

#icone-moeda {
  width: 8.75rem;
}

#icone-moeda:hover {
  transform: scale(1.1);
  transition: 1.5s ease;
}

.subtitulo-programa {
  color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
}

/* ------------------------------------container right */
.container-valores {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  color: #E8A824;
}

.instrucao {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 1.25rem;
  border-radius: 0.625rem 0.3rem;
  color: #2f2f2f;
}

.selecao-moedas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  border: none;
  gap: 1rem;
}

.selecao-moedas select {
  padding: 1.25rem;
  border-radius: 0.625rem 0.3rem;
  color: #2f2f2f;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  cursor: pointer;
}

.resultado {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

button {
  background-color: #F19400;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.625rem;
  border: 1px solid #ffffff;
  border-radius: 0.625rem 3px;
  margin: 1.87rem 0 0.625rem 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 1.2s ease;
}

#resultado {
  background-color: rgb(255, 255, 255);
  padding: 1.1rem;
  border-radius: 0.625rem 0.3rem;
  color: #2f2f2f;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  color: #2f2f2f;
  margin-top: 0.5px;
}

/* FIM BOX's */